---
layout: default
permalink: /

title: AlexFlipnote blog homepage
description: I do blogs now, yes
---
<h1 class="no-margin index-title">
  {{ page.title }}<br><p class="no-margin undertitle">{{ page.description }}</p>
</h1>

<ul class="article-list">
  {% assign lastletter = "" %}
  {% for post in site.posts %}
    {% assign tmpletter = post.date | date: "%B %Y" %}
    {% if tmpletter != lastletter %}
    <div class="splitletter">
      <p class="firstletter">{{ tmpletter }}</p>
    </div>
    {% endif %}
    <li class="listing" id="{{ post.title | downcase | replace: ' ', '-' }}">
      <div>
        <a class="sun-flower-text" href="{{ site.url }}{{ post.url | replace: '.html', '' }}">{{ post.title }}</a>
        <i style="color: #999;">{{ post.description }} <span style="color: #666;">({{ post.date | date: "%-d %B %Y" }})</span></i>
      </div>
    </li>
    {% assign lastletter = tmpletter %}
  {% endfor %}
</ul>
