<html>
  <head>
    {% include analytics.html %}
    {% include head.html %}
    <script src="{{ site.url }}/assets/js/countable.min.js"></script>
    <script src="{{ site.url }}/assets/js/main.js"></script>
  </head>
  <body class="github-font-standard">
    {% include topbar.html author=page.author %}

    <div class="paper-container">
      {% if page.banner %}
        <div class="ribbon secondary custom"></div>
        <style>
          .custom {
            background: url('{{ site.url }}/posts_assets/{{ page.assetsfolder }}/{{ page.banner }}') !important;
            background-repeat: no-repeat;
            background-size: cover !important;
            background-position: center;
          }
        </style>
      {% else %}
        <div class="ribbon secondary"></div>
      {% endif %}
      <div class="paper markdown-container">
        <div class="blog-title center-text">
          <h1 class="no-margin no-padding no-border">{{ page.title }}</h1>
          <p class="italic no-margin no-padding no-border">{{ page.description }}</p>
        </div>
        <div class="blog-splitter">
          <hr class="blog-split-yes">
          <div class="blog-labels center">
            <span class="label secondary">📅 {{ page.date | date: "%-d %B %Y" }}</span>
            <span class="label secondary" id="reading-time">⏱ </span>
            <span class="label secondary">📝 {{ page.author }}</span>
          </div>
        </div>
        {{ content }}
      </div>
    </div>

  </body>
</html>
